<form *ngIf="!registrationSuccess; else registrationComplete" (ngSubmit)="register()" [formGroup]="registrationForm">
  <!-- TODO: Add validation messages -->
  <div>
    <label for="username">Username</label>
    <input id="username" formControlName="username" type="text">
  </div>
  <div>
    <label for="email">Email</label>
    <input id="email" formControlName="email" type="email">
  </div>
  <div>
    <label for="password">Password</label>
    <input id="password" formControlName="password" type="password">
  </div>
  <div>
    <label for="firstName">First Name</label>
    <input id="firstName" formControlName="firstName" type="text">
  </div>
  <div>
    <label for="lastName">Last Name</label>
    <input id="lastName" formControlName="lastName" type="text">
  </div>
  <button type="submit" [disabled]="!registrationForm.valid">Register</button>
</form>

<ng-template #registrationComplete>
  <div [innerHTML]="registrationMessage"></div>
</ng-template>

