<div class="login-container">
  <form (ngSubmit)="onLogin()" #loginForm="ngForm" class="login-form">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div>
    <button type="submit" [disabled]="!loginForm.valid" class="login-button">Login</button>
  </form>
</div>
