<header>
  <nav>
    <div class="auth-links">
      <a routerLink="/login" *ngIf="(authService.isLoggedIn() | async) === false">Login</a>
      <a routerLink="/register" *ngIf="(authService.isLoggedIn() | async) === false">Register</a>
      <a *ngIf="(authService.isLoggedIn() | async) === true" (click)="authService.logout()">Logout</a>
    </div>
  </nav>
  <mat-toolbar class="top-mat-toolbar">
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/products">Products</a>

    <span class="flex-spacer"></span>

    <div class="custom-search-bar">
      <input class="search-input"
             type="text"
             [(ngModel)]="searchTerm"
             (keyup.enter)="executeSearch()"
             placeholder="Search">
      <div class="search-button" (click)="executeSearch()">
        <i class="material-icons">search</i>
      </div>
    </div>

    <span class="flex-spacer"></span>

    <a mat-button routerLink="/cart">
      <div class="shopping-cart">
        <mat-icon>shopping_cart</mat-icon>
        <span>{{ itemCount }}</span> /
        <span>${{ totalPrice.toFixed(2) }}</span>
      </div>
    </a>
  </mat-toolbar>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <p>&copy; 2024 <a href="https://github.com/wolskimarcin" target="_blank">wolskimarcin</a></p>
</footer>
