header {
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

nav .auth-links a {
  color: black;
  margin: 10px;
  font-size: 0.6rem;
}

main {
  margin: 20px 20px 80px;
}

footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 48px !important;
  height: 48px !important;
  padding: 0 10px !important;
}

.custom-search-bar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-input {
  width: 200px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 12px;
}

.search-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.flex-spacer {
  flex: 1;
}

.shopping-cart {
  display: flex;
  align-items: center;
  gap: 8px;
}

.custom-footer {
  position: sticky;
  z-index: 2;
}
