<header>
  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/products">Products</a>
    <a routerLink="/login" *ngIf="(authService.isLoggedIn() | async) === false">Login</a>
    <a routerLink="/register" *ngIf="(authService.isLoggedIn() | async) === false">Register</a>
    <a *ngIf="(authService.isLoggedIn() | async) === true" (click)="authService.logout()">Logout</a>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <p>&copy; 2024 <a href="https://github.com/wolskimarcin" target="_blank">wolskimarcin</a></p>
</footer>
