<div class="pagination-controls">
  <button
    (click)="goToPage(currentPage - 1)"
    [disabled]="currentPage === 0">
    <i class="material-icons">arrow_left</i>
  </button>
  <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
  <button
    (click)="goToPage(currentPage + 1)"
    [disabled]="currentPage === totalPages - 1">
    <i class="material-icons">arrow_right</i>
  </button>
</div>

<div class="products-grid">
  <div *ngFor="let product of products" class="product-card">
    <div class="product-details">
      <h2>{{ product.name }}</h2>
      <p>{{ product.shortDescription }}</p>
      <p *ngIf="product.price" class="product-price">${{ product.price }}</p>
      <p *ngIf="product.inventoryQuantity !== undefined" class="product-inventory">
        Quantity in Stock: {{ product.inventoryQuantity }}
      </p>
      <p *ngIf="product.inventoryQuantity === undefined" class="product-inventory-loading">
        Inventory loading...
      </p>
      <button mat-button (click)="addToCart(product)">Add to Cart</button>
    </div>
  </div>
</div>
