<div class="home-container">
  <section class="hero">
    <h1>Welcome to Artsoft!</h1>
    <p>Discover our wide range of products and enjoy seamless online shopping with us.</p>
    <i class="bi bi-shop" aria-hidden="true"></i>
  </section>

  <section class="features">
    <div class="feature-cards">
      <div class="feature-card">
        <i class="bi bi-search" aria-hidden="true"></i>
        <p>Browse products in various categories</p>
      </div>
      <div class="feature-card">
        <i class="bi bi-journal-check" aria-hidden="true"></i>
        <p>Manage your orders easily</p>
      </div>
      <div class="feature-card">
        <i class="bi bi-cart-fill" aria-hidden="true"></i>
        <p>Access your shopping cart from any device</p>
      </div>
    </div>
  </section>

  <section class="navigation-links">
    <a routerLink="/products" class="btn">View Products</a>
    <!--<a routerLink="/login" class="btn">Login</a>-->
    <!--<a routerLink="/register" class="btn">Register</a>-->
  </section>
</div>
